/* settaggi */
a,
li,
ul,
body,
h1,
p {
    all: unset;
}

a {
    cursor: pointer;
}

/* pagina */
body {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    background-color: rgb(240, 240, 240);
}
img{
    height: 32px;
    width: 32px;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.title{
    font-size: 1.5em;
    font-weight: 600;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_list {
    position: fixed;
    top: 70px;
    right: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    display: flex;
    overflow: hidden;
    padding-bottom: 2px;
}

.menu_list li {
    border-bottom: solid 2px transparent;
    position: relative;
    transform:translateX(200px);
    transition: ease-out .3s;
    z-index: 2;
    width: fit-content;
    height: fit-content;
}
.menu_list li a::after{
    content: " ";
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: black;
    border-radius: 2px;
    transform: scaleX(0);
    transition: .2s;
}
.menu_list li a:hover::after{
    transform: scaleX(100%);
}

#checkbox {
    display: none;
}

.toggle {
    top: 15px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition-duration: .5s;
    z-index: 2;
}

.bars {
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    }

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    position: fixed;
    transition-duration: .5s;
    transform: rotate(180deg);
}

.menu_list:after{
    display: unset;
    content: "";
    position: fixed;
    height: 100%;
    width: 120px;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    transform: translateX(110%);
    transition: ease-out .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}
#checkbox:checked ~ .menu_list li{
    transform: translateX(0);
}
#checkbox:checked ~ .menu_list:after{
    transform: translateX(0);
}
section {
    display: flex;
    justify-content: center;
    padding: 100px 25px;
}

.hero {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    max-width: fit-content;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.26);
    border-radius: 1em;
    height: fit-content;
}

.heroImage {
    background-color: black;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0 0 1em 1em;
}

.heroText {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 1em 1em 0 0;
}

.heroText h1 {
    font-size: 3em;
}
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
.skills li{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
.html{
    background-image: url(./Grafiche/icons8-html-5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(252, 233, 216);
    border: solid 1px rgb(255, 214, 177);
    background-size: 42px;
}
.css{
    background-image: url(./Grafiche/icons8-css.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(220, 238, 255);
    border: solid 1px rgb(179, 218, 255);
    background-size: 42px;
}
.js{
    background-image: url(./Grafiche/icons8-javascript.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(253, 255, 205);
    border: solid 1px rgb(251, 255, 125);
    background-size: 42px;
}
.react{
    background-image: url(./Grafiche/icons8-react-native.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(226, 252, 255);
    border: solid 1px rgb(148, 244, 255);
    background-size: 40px;
}

@media (min-width: 800px) {
    .menu_list{
        flex-direction: row;
        position: unset;
        display: flex;
    }

    .menu li {
        transform: translateX(0);
        transition: 0S;
    }
    .menu_list:after{
        display: none;
    }
    section {
        padding: 200px 0;
    }

    .menu {
        flex-direction: row;
    }

    .toggle {
        display: none;
    }

    .bar {
        display: none;
    }

    .hero {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        max-width: 700px;
    }

    .heroImage {
        border-radius: 0 1em 1em 0;
    }

    .heroText {
        width: calc(100% - 350px);
        border-radius: 1em 0 0 1em;
    }
}
